.container {
    width: 800px;
    max-width: 90%;
    margin-inline: auto;
}
.title {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    padding: 20px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.card {
    border: 2px solid var(--color-black);
    border-radius: 6px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    width: max-content;
}