.contacts {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--color-shadow);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: var(--color-gray-light);
  box-shadow: 0 2px 4px var(--color-shadow);
  color: var(--color-gray-dark);
  transition: background-color 0.3s ease;
  cursor: pointer;
  gap: 10px;
}
.contactsList {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--color-shadow);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profilePic {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensures the image covers the entire circular container */
}

/* Status indicator */
.online,
.offline {
  position: absolute;
  bottom: 4px;
  /* Keeps the status circle above the bottom edge */
  right: 4px;
  /* Keeps the status circle from touching the right edge */
  width: 12px;
  /* Increased size to ensure the button is not clipped */
  height: 12px;
  border-radius: 50%;
  /* Makes the status indicator circular */
  z-index: 100;
  /* Ensures the status indicator is on top of the profile picture */
  border: 2px solid var(--color-background);
  /* Optional border */
}

.online {
  background-color: rgb(0, 255, 0);
  /* Green for online */
}

.offline {
  background-color: var(--color-gray);
  /* Gray for offline */
}

.info {
  font-size: 16px;
  /* Adjust the size of the name text */
}


@media screen and (max-width: 768px) {
  .contacts {
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }

  .contactsList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }

  .contact {
    width: 60px;
    margin: 2px;
    justify-content: center;
  }

  .contact p {
    display: none;
  }

  .info {
    display: none;
    width: 0;
  }
}

.notificationCount {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: var(--color-white);
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}