.home {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
}

.postsContainer {
    max-width: 600px;
    margin: 0 auto;
}

.container{
    background-color: rgb(29, 29, 29);
    width:100%
}