.groupEventsTab {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
}

.events {
      width: 100%;
      min-height: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
      grid-gap: 1rem;
      padding: 1rem;
      box-sizing: border-box;
      gap: 1rem;
      box-sizing: border-box;
}

@media screen and (max-width: 768px) {
      .events {
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      }
      .groupEventsTab {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
      }   
}