.page {
  position: relative;
  width: 100%;
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--gray-alpha-200);
  box-sizing: border-box;
}

.leftSidebar,
.rightSidebar {
  position: fixed;
  top: 70px;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--color-white);
  z-index: 2;
  box-sizing: border-box;
}

.leftSidebar {
  justify-self: start;
  left: 0;
}

.rightSidebar {
  justify-self: end;
  right: 0;
}



.container {
  width: calc(100% - 40%);
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--color-gray-light);
}

.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* padding: 16px; */
  box-sizing: border-box;
}

.loading {
  text-align: center;
  padding: 1rem;
  color: #888;
}

.noMorePosts {
  text-align: center;
  padding: 1rem;
  color: #aaa;
}

.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-sizing: border-box;
}

.comments h3 {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: start;
  text-decoration: wavy;
  margin-bottom: 1rem;
}


@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}


@media screen and (max-width: 768px) {
  .main {
    padding-top: 50px;
  }

  .rightSidebar,.leftSidebar{
    display: none;
    width: 300px;
    z-index: 11;

  }
  .container {
    width: 100%;
  }

  .posts {
    width: 100%;
  }
  .show {
    display: block;
  }

}