.event {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  padding: 1rem;
}
.event:hover {
  transform: translateY(-2px);
}

.eventHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  gap: 16px;
}

.eventHeader img {
  width: 100%;
  height: 250px;
  border-radius: 0.5rem;
}

.eventDates {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}
.eventDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.eventTime {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.eventTime span {
  font-size: 1rem;
  color: var(--color-green);
}

.eventDayName {
  font-size: 1.5rem;
  font-weight: bold;
}

.eventDay {
  font-size: 1.5rem;
  font-weight: bold;
}

.eventDate {
  position: absolute;
  top: -50px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-light);
  padding: 0.5rem 1.3rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.eventMonth {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-gray-dark);
}
.eventDay {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-dack);
}

.eventContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

.eventTitle {
  color: var(--color-gray-dark);
}
.eventStatus {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--color-blue);
}

.eventDescription {
  font-size: 1rem;
  color: var(--color-gray-dark);
  line-height: 1.5;
}

.eventGoing {
  width: max-content;
  align-self: flex-end;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}