.rightSideBar {
    position: fixed;
    top: 80px;
    right: 0;
    width: 200px;
    height: calc(100vh - 80px);
}

.search {
    background-color: aqua;
    height: 20%;
    border-bottom: 1px solid white;
}

.contacts {
    background-color: orangered;
    height: 60%;
    border-bottom: 1px solid white;
}

.events {
    background-color: rgb(255, 2, 242);
    height: 30%;
    border-bottom: 1px solid white;
}