.rightSideBar {
    position: fixed;
    top: 80px;
    right: 0;
    width: 200px;
    height: calc(100vh - 80px);
}


.events {
    background-color: var(--primary-color) ;
    height: 150px;
    border-bottom: 1px solid white;
}